.header__mobile {
    position: absolute;
    z-index: 999;
    background-color: var(--clr-dark);
    top: 5.6em;
    width: 100%; 
    height: 89vh;
    display: flex;
    justify-content: center;
}

.mobile__menu {
    display: flex;
    flex-direction: column;
    gap: 2.3em;
    justify-content: center;
    align-items: center;
    padding-bottom: 14em;
}

.mobile__menu button {
    margin-top: 1.5em;
}

.header__link {
    text-decoration: none;
    color: var(--clr-neutral500);
    transition: color 0.3s;
    font-size: var(--size-md);
    font-weight: 600;
    letter-spacing: -0.05em;
}

.header__link:hover {
    color: var(--clr-emerald);
}

.mobile-hidden {
    display: none;
}

@keyframes openMenu {
    0% {transform: translateX(60em);}
    100% {transform: translateX(0em);}
}
@keyframes closeMenu {
    0% {transform: translateX(0em);}
    100% {transform: translateX(60em);}
}


