.work {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

.work__container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: start;
    align-items: center;
}

.work__image {
    width: 500;
    height: 300;
    border: 0.15em solid var(--clr-dark);
    padding: 0.3em;
    cursor: pointer;
    border-radius: 1rem;
    transition: all 0.03s;
}

.work__image:hover {
    border: 0.15em solid var(--clr-light);
}

@media (min-width: 475px){
    
}

@media (min-width: 640px){
    .work__image {
        width: 80%;
        height: 80%;
    }
}

@media (min-width: 768px){
    
}

@media (min-width: 1024px){
    .work__image {
        width: 100%;
        height: 100%;
    }

    .work__container {
        display: grid;
        width: 1024px;
        grid-template-columns: repeat(10, 1fr);
        /* grid-template-rows: repeat(18, 1fr); */
        grid-auto-rows: auto;
        gap: 0rem;

    }

    .p1 {
        grid-area: 1/1/span 5/span 6;
    }

    .p2 {
        grid-column: span 4;
        grid-row: span 3;
    }

    .p3 {
        grid-column: span 2;
        grid-row: span 2;
    }

    .p4 {
        grid-column: span 3;
        grid-row: span 3;
    }

    .p5 {
        grid-column: span 2;
        grid-row: span 2;
    }

    .p6 {
        grid-column: span 2;
        grid-row: span 2;
    }

    .p7 {
        grid-column: span 2;
        grid-row: span 3;
    }

    .p8 {
        grid-column: span 2;
        grid-row: span 2;
    }

    .p9 {
        grid-column: span 3;
        grid-row: span 4;
    }

}

@media (min-width: 1280px){
    .work__container {
        width: 1070px;
        height: 95vh;
    }
}

@media (min-width: 1536px){
    
}  
